:root {
  // Primary
--moderate-violet: hsl(263, 55%, 52%);
--violet-border: hsl(264, 82%, 70%);
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--very-dark-blackish-blue: hsl(217, 30%, 14%);
--white: hsl(0, 0%, 100%);
--links: hsl(228, 45%, 44%);

// Neutral
--light-gray: hsl(0, 0%, 81%);
--light-gray-50: hsla(0, 0%, 87%, 0.984);
--light-gray-70: hsla(0, 0%, 88%, 0.984);
--light-grayish-blue: hsl(210, 46%, 95%);
}