@use '../utils/mixins' as *;

.footer {
  @include barlow-semi-condensed;
  margin: 20px;
  font-weight: 600;

  &__attribution {
    font-size: 0.813rem;
    text-align: center;
  }
  &__link {
    color: var(--links);
  }
}